@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-dark.css';

.dark-editor {
  --basePageBg: black;
  --baseBgActive: #1e40af;
  --baseText: #737373;
}

.mdxeditor-toolbar {
  background-color: #0a0a0a;
  border-radius: 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.46);
  padding: 10px;
}

.mdxeditor-select-content {
  background-color: #0a0a0a;
}

._primaryButton_11eqz_460 {
  color: white;
}

._secondaryButton_11eqz_461 {
  color: white;
  border: 1px solid crimson;
}

._primaryButton_11eqz_460:hover,
._secondaryButton_11eqz_461:hover {
  background-color: #171717;
  transition: all 100ms ease-in;
  cursor: pointer;
}